/*CSS Reset Code*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Inherit code inherits the properties of parent, here the parent is p which is always left of the screen*/
.img-float {
	width: 250px;
	height:	250px;
/*	float: inherit;*/
	float: right;
}

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 50vh;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	/* default value of position for all elements is static	*/
	/*position: static;*/
	/*relative follows normal flow of document but is affected by left right top bottom properties */
	/*position: relative;*/
	/*absolute is based on relative element, in this case, it is now the parent-element, if there's no relative element, it will be based on the window*/
	/*position: absolute;*/
	/*fixed position disregards relative elements and is fixed on the window*/
	/*position: fixed;*/
	position: sticky;
	left: 10px;
	bottom: 10px;
	top: 10px;
}

.child-three {
	background-color: orange;
	padding: 10px;
}

html {
	min-height: 200vh;
}

.container {
  position: relative;
}

/*Z-index priority based on highest number*/
.black-box {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
}

.gray-box {
  position: absolute;
  z-index: 3; /* gray box will be above both green and black box */
  background: lightgray;
  height: 60px;  
  width: 70%;
  left: 50px;
  top: 50px;
}

.green-box {
  position: absolute;
  z-index: 2; /* green box will be above black box */
  background: lightgreen;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}