/*Member 1*/
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    color: white;
    padding: 10px;
    width: 9rem;
    font-size: 1rem;
    font-weight: 600;
    border-color: transparent;
    border-radius: 25px;
}

/*Member 2*/
nav ul {
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.right-nav{
    float:right;
}

nav li {
	display: inline-block;
	text-decoration: none;
	margin: 0.6rem;
	padding: 4px;
}

.nav, .nav-logo, {
margin: 0;
padding: 0;
}


/*Member 3*/

#logo {
	padding-top: 10px;
	padding-left: 10px;
}

#nav-button {
	background-color: #c2195b;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
	
}

.front-bg {
	background-color:  rgb(0, 0, 0, 0.5);
	padding-top: 40px;
	padding-bottom: 40px;
}

book-button {
background-color: #336589;
}

/*Member 4 Code*/
.container {
	text-align: right;
	width: 40%;
	position: relative;
  left: 50%
}

.title {
	font-family: 'Zilla Slab', serif;
	font-size: 2.5rem;
	font-weight: 600;
}

.subtitle {
	font-size: 1.3rem;
	font-weight: 300;
	width: 75%;
	margin-left: 9rem;
	margin-top: 2rem;
}

#apply-button {
	margin-top: 1rem;
	background-color: #c2195b;
}

/* Member 5 */
#main {
  padding-top: 10px;
  text-align: center;
}

.title-2 {
  font-family: "Zilla Slab";
  font-size: 2rem;
  font-weight: 800;
}

.intro-description, 
.prefooter-description {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 600;
}

footer {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

footer span {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 800;
}
