/*Google font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
* {
		    margin: 0;
		    padding: 0;
		    box-sizing: border-box;
		}

nav {
	/*Shorthand Property*/
	/*Padding is applied to ALL sides*/
	/*Value is 12.8px based on the root element*/
	padding: 0.8rem;
		/* If you want per side
		padding-left: 0.8rem;
		padding-right: 0.8rem;
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		*/
	/*margin bottom is in between elements*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	
}

nav ul {
	list-style: none;
}
/*Two descendant selectors were used here*/
nav .nav-logo, nav .nav {
	margin: 0.5rem;
		/*margin size can also be specified per side*/

	/*Changes list items to inline elements*/
	display: inline;
}

#intro {
	/*rem is fixed, % means adjustable according to screen size (ex. 10% of the screen)*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*For shorthand property
		padding: 2rem 10% 3rem;*/

	/*text align center: centers all text elements*/
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
		color: white;
		font-weight: bold;
		background-color: #c2195b;
		border-radius: 25px;
		font-size: 1rem;
		padding: 1rem;
}
/*Same padding sizes, reason why it's repeated here so you can isolate or customize it per ID.
best done on big website projects*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: text-top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	display: inline-block;
	vertical-align: text-top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


/*Member 4 code*/
footer {
	padding: 0.7rem;
}






