/*Type Selector*/
/*tag-name*/
/*!important bypasses inline styling*/
h1 {
	color: yellow !important;
}

/*Universal Selector - targets all elements using (*) sign */
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector - id is unique, not used for multiple elements*/
/*#id-name*/
#zuitt-motto {
		letter-spacing: 5px;
}

/*Class Selector*/
/*.class-name - dot symbol means we are targeting a class */
.offering-item {
	text-transform: uppercase;
}

/*Adjacent Sibling Selector - element before an element*/
/*selector + selector (2nd selector will be styled)*/
/*can be type + class, id + type, etc*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector - sub element of an element*/
/*selector selector*/
#bootcamp-learning-list li {
		color: #075966;
}

/*General Sibling Selector*/
/*selector ~ selector - doesn't need to be beside or under, just need to be siblings*/
h2 ~ a {
	text-decoration: none;

}

.modules {
	letter-spacing: 3px;
}
/*Child Selector*/
/*selector > selector*/

body > nav {
	border-style: solid;
}