#external {
    color: #FFFF00;
}

* {
    font-family: "Verdana", sans-serif;
    font-size: 20px;
}


h1 {
	font-size: 3rem;
}

#sub-header {
	text-transform: uppercase;
}

.text-green {
	 background-color: #008000;
}


.border-blue {
	border-style: solid;
	border-color: #0000FF;
	border-width: 2px;

}

img + ul {
	list-style: none;
}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 100px;
}


ul ~ p {
	text-align: center;
}

section > ul > li {
    letter-spacing: 10px;
}